@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Roboto&family=Supermercado+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Supermercado+One&display=swap");
body {
  background: url(https://i.pinimg.com/originals/75/04/6b/75046be8205e89438db41eadbe4df6f9.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.text {
  margin: auto;
  text-align: center;
  font-family: "Supermercado One", cursive;
  font-size: 60px;
  color: rgb(46, 106, 129);
  margin-bottom: 2%;
}

@font-face {
  font-family: GodOfWar;
  src: url(GodOfWar.ttf);
}
.ppageone {
  width: auto;
  text-align: center;
  display: block;
  margin: 0 auto;
  font-size: 30px;
  font-family: GodOfWar;
  color: rgb(17, 145, 196);
  font-size: 25px;
}
